.inss{
    width: 80%;
  margin: 20px auto;
}
#searchInput{
  padding: 5px;
  border-radius: 10px;
  outline: none;
  width: 30%;
  margin-bottom: 20px;
  float: right;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--light);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: var(--dark);
}

th {
  background-color: var(--blue);
  color: var(--dark);
}

/* Hover effect on table rows */
tr:hover {
  cursor: pointer;
}
 .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination button {
            margin: 0 5px;
            cursor: pointer;
            padding: 5px 10px;
        }

/* Responsive styles using media queries */
@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }

  th,
  td {
    padding: 8px;
  }

  th {
    font-size: 8px;
  }

  td {
    font-size: 7px;
  }

}
#messageRow {
  width: 80%;
  margin: 20px auto;
  padding: 12px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--light);
  border: 1px solid #ddd;
  color: var(--dark);
}

/* Responsive styles for the "Nothing found" message */
@media only screen and (max-width: 600px) {
  #messageRow {
    width: 100%;
    font-size: 10px;
  }
}
