table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--light);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: var(--dark);
}

th {
  background-color: var(--blue);
  color: var(--dark);
}

/* Hover effect on table rows */
tr:hover {
  cursor: pointer;
}

/* Responsive styles using media queries */
@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }

  th,
  td {
    padding: 8px;
  }

  th {
    font-size: 8px;
  }

  td {
    font-size: 7px;
  }

  .pagination {
    flex-direction: column;
    align-items: stretch;
  }

  .pagination button {
    margin-bottom: 8px;
  }
}
